/* Cargolonie styles scss */
@font-face {
  font-family: "Vinson";
  src: url(fonts/VInson-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Vinson";
  src: url(fonts/Vinson-Bold.ttf) format("truetype"), url(fonts/Vinson-Bold.otf) format("opentype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Vinson";
  src: url(fonts/Vinson-Light.ttf) format("truetype"), url(fonts/Vinson-Light.otf) format("opentype");
  font-style: normal;
  font-weight: 200;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#webwrapper {
  font-family: "Vinson";
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/**********/
/* LOADER */
/**********/
/*
#loader-wrapper {
	overflow: hidden;
	position: absolute;
	top: 10vh; left: 150px;

	display: flex;
	align-items: center;

	background-color: #fff;
	z-index: 10;
}
*/
/* Spinning wheel keyframes */
/*
#wheelimg {
	position: absolute;
	left: 62%; top: 34%;
}

.wheel-rotate {
	animation: roule .8s linear 2 forwards;
}

.wheel-stop {
	animation: roule2 1.8s ease-out 1 forwards
}

@-moz-keyframes roule {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes roule {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes roule {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-moz-keyframes roule2 {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes roule2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes roule2 {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

*/
/* All sections */
.section {
  overflow: hidden;
}

/**********/
/* HEADER */
/**********/
header {
  transform-origin: top;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
header h1 {
  display: flex;
  letter-spacing: 3px;
  opacity: 0;
  font-weight: 800;
  font-size: 6.5em;
  margin-top: 17rem;
  margin-left: 17rem;
  transform: translateX(-5em);
}

#header-logo {
  position: absolute;
  left: 50%;
  top: 10rem;
  width: 86em;
  transform: translateX(-50%);
}

#title-la {
  position: absolute;
  top: -1em;
  left: 1em;
  opacity: 0;
}

/**************/
/* SUB HEADER */
/**************/
#sub-header {
  width: 100vw;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 30px 9px 12px #fff;
}
#sub-header h3 {
  font-size: calc(10px + 1vw);
  opacity: 0;
  font-weight: 200;
}

/*****************/
/* KEYFRAAAAAMES */
/*****************/
/* Shrink logo */
/*
.shrink-logo {
	animation: anim-shrink-logo 2s ease-out forwards;
}

@keyframes anim-shrink-logo {
	from {
		transform: translateY(-50%) scale(1);
	}
	to {
		transform: translateY(-50%) scale(0.3);
	}
}
*/
/* Display p after loading */
.show-header-p {
  animation: anim-reveal-header 1.9s ease-out 3s forwards;
}

@keyframes anim-reveal-header {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Shrink HEADER (93%) */
/*
.shrink-header {
	animation: anim-shrink-header 1.2s ease-out 2s forwards;
}

@keyframes anim-shrink-header {
	from {
		height: 100vh;
	}
	to {
		height: 94vh;
	}
}
*/
/* Keyframe for TITLE */
.show-title-la {
  animation: anim-show-title-la 2s linear 2.4s forwards;
}

@keyframes anim-show-title-la {
  from {
    opcaity: 0;
  }
  to {
    opacity: 1;
  }
}
.show-title {
  animation: anim-show-title 5s linear forwards;
}

@keyframes anim-show-title {
  0% {
    animation-timing-function: cubic-bezier(0.35, 0, 0.35, 1);
    opacity: 0;
    transform: translateY(-5em);
  }
  50% {
    opacity: 0.6;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*
.lettre {
	animation: anim-title-slide 2.5s cubic-bezier(0,0,.53,1) forwards;
}

@-moz-keyframes anim-title-slide {
    from {
    	opacity: 0;
    }
    to {
    	opacity: 1;
		-moz-transform: translateX(-800px);
    }
}
@-webkit-keyframes anim-title-slide {
    from {
		opacity: 0;
    }
    to {
		opacity: 1;
		-webkit-transform: translateX(-800px);
    }
}
@keyframes anim-title-slide {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: translateX(-800px);
	}
}

.lettre:nth-child(4) {
  animation-delay: .4s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(5) {
  animation-delay: 1.2s;
}
.lettre:nth-child(9) {
  animation-delay: 1.6s;
}
.lettre:nth-child(1) {
  animation-delay: 2s;
}
.lettre:nth-child(6) {
  animation-delay: 2.4s;
}
.lettre:nth-child(10) {
  animation-delay: 2.8s;
}
.lettre:nth-child(2) {
  animation-delay: 3.2s;
}
.lettre:nth-child(7) {
  animation-delay: 3.6s;
}
.lettre:nth-child(3) {
  animation-delay: 4s;
}
*/
/**********************/
/* MAIN PHOTO SECTION */
/**********************/
#main-photo1 {
  height: 120vh;
  width: 100vw;
  background-image: url(img/background_cargosmall.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/**********************/
/* WHAT WE DO SECTION */
/**********************/
#whatwedo {
  width: 100vw;
  background-color: #04382b;
  color: #ffffff;
  padding: 150px 365px 150px 350px;
  box-shadow: 0 0 9px 12px #04382b;
  z-index: 2;
}
#whatwedo .whatwedo-article {
  width: 750px;
  height: 450px;
  opacity: 0;
  margin: 4em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-600px);
}
#whatwedo .whatwedo-article img {
  display: block;
  width: 400px;
  height: 440px;
  border-radius: 5px 0 0 5px;
  border: 2px solid #051813;
  object-fit: cover;
}
#whatwedo .whatwedo-article .whatwedo-text-div {
  width: 350px;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  background-color: #00000070;
}
#whatwedo .whatwedo-article .whatwedo-text-div h2 {
  margin-bottom: 2em;
  text-decoration: underline;
}
#whatwedo .whatwedo-article:nth-child(even) {
  flex-direction: row-reverse;
  margin-left: auto;
  transform: translateX(600px);
}
#whatwedo .whatwedo-article:nth-child(even) img {
  border-right: none;
  border-radius: 0 5px 5px 0;
}

/* Show Articles Animations */
.show-odd-article {
  animation: anim-show-odd-article 1.6s ease-out forwards;
}

@keyframes anim-show-odd-article {
  from {
    opacity: 0;
    transform: translateX(-800px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.show-even-article {
  animation: anim-show-even-article 1.6s ease-out forwards;
}

@keyframes anim-show-even-article {
  from {
    opacity: 0;
    transform: translateX(800px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Hide Articles Animations */
.hide-odd-article {
  animation: anim-hide-odd-article 1.6s ease-out forwards;
}

@keyframes anim-hide-odd-article {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-800px);
  }
}
.hide-even-article {
  animation: anim-hide-even-article 1.6s ease-out forwards;
}

@keyframes anim-hide-even-article {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(800px);
  }
}
/***********/
/* LA TEAM */
/***********/
#lateam {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 20vw 12em 20vw;
  background-color: #04382b;
  color: #fff;
}
#lateam h2 {
  font-size: 2em;
  margin-bottom: 2em;
}
#lateam article {
  width: fit-content;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0000005e;
  padding: 5px;
  margin: 2em;
  border-radius: 10%;
}

#lateam-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.id-photo {
  width: 240px;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 10% 10% 0 0;
}

.id-photo1 {
  background-image: url(img/team/ewen.jpeg);
}

.id-photo2 {
  background-image: url(img/team/adele.jpeg);
}

.id-photo3 {
  background-image: url(img/team/jb.jpeg);
}

.id-photo4 {
  background-image: url(img/team/ganael.jpg);
}

.id-photo5 {
  background-image: url(img/team/tristan.jpg);
}

.id-photo6 {
  background-image: url(img/team/nikos.jpg);
}

.id-photo7 {
  background-image: url(img/team/yannick.jpeg);
}

.id-photo8 {
  background-image: url(img/team/philippe.jpeg);
}

.lateam-desc {
  width: 240px;
  height: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 200;
  padding-top: 5px;
}

/***********************/
/* PRE FOOTER / E-MAIL */
/***********************/
footer {
  color: #faebd7;
}

#pre-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 6em 0;
  background: linear-gradient(#04382b, #000000);
}
#pre-footer #contact-desc {
  height: 700px;
  padding: 0 5em;
}
#pre-footer h3 {
  font-weight: 800;
  font-size: 1.7em;
  margin-bottom: 30px;
  text-decoration: underline;
}
#pre-footer form .femail-group {
  margin: 10px;
}
#pre-footer form #femail-button {
  background-color: #5f9ea0;
  border: none;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: 200;
  margin-top: 20px;
}
#pre-footer form .femail-label {
  font-size: 1.2em;
  font-weight: 200;
}
#pre-footer form .femail-input {
  margin-top: 10px;
}
#pre-footer form .femail-form-ctrl, #pre-footer form .femail-form-msg {
  border: 2px solid #5f9ea0;
  border-radius: 10px;
}
#pre-footer form .femail-form-ctrl {
  height: 2em;
  width: 13vw;
}
#pre-footer form .femail-form-msg {
  width: 20vw;
}

/* Photo contact */
#contact-photo {
  width: 500px;
  height: 700px;
  background-image: url(img/contact.jpeg);
  background-position: center;
  background-size: cover;
  border: 5px solid #04382b;
}

#contact-or {
  display: block;
  margin: 20px 0;
  font-size: 2em;
}

#footer-infos {
  display: flex;
  flex-direction: column;
}
#footer-infos .finfo {
  display: flex;
  flex-direction: column;
  margin: 15px 30px;
  font-size: 1.3em;
}

#footer-bottom {
  height: 8em;
  width: 100%;
  background-color: #000;
}

/*# sourceMappingURL=styles.css.map */
